/*
 * CSS for the Profile page.
 */
/*
 * CSS for the table
 */
table.table {
  width: 100%;
  height: 1000px;
  text-align: center;
}

table.table td, table.table th {
  border: 2px solid black;
  padding-top: 3%;
}

table.table thead {
  position: sticky;
  top: 0;
  background: #697478;
  vertical-align: center;
}
